/* BASE
============================================================================= */
@import url(http://fonts.googleapis.com/css?family=Offside);
html 							{ overflow-y:scroll; }
body 							{ margin-top:40px; }

/* HEADER
============================================================================= */
#header 						{ margin-bottom:50px; }

	/* logo */
	#logo 						{ color:#FFF; font-family:'Offside';  margin-bottom:50px; margin-top:50px; }
	#logo span 					{ display:inline-block; }

/* MAIN NAV
============================================================================= */
#main-nav 						{ margin-bottom:30px; }

/* SIDEBAR
============================================================================= */
#sidebar 						{  }

#sidebar-nav 					{  }
#sidebar-nav ul 				{ list-style:none; padding-left:0; }
#sidebar-nav li 				{  }
#sidebar-nav a 					{ background:#428bca; color:#FFF; display:block; margin-bottom:10px; padding:20px; text-transform:uppercase;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
	#sidebar-nav a:hover 		{ background:#3276b1; text-decoration:none; }

/* CONTENT
============================================================================= */
#content 						{ background:#FFF; min-height:400px; padding:20px;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#content img 					{ border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }